{{package.name}}
================

[![version](https://img.shields.io/badge/version-{{package.version}}-blue.svg)]({{& package.homepage}})
[![npm version](https://badge.fury.io/js/{{package.name}}.svg)](https://badge.fury.io/js/{{package.name}})

[![Build Status](https://travis-ci.org/{{username}}/{{package.name}}.svg?branch=master)](https://travis-ci.org/{{username}}/{{package.name}})
[![Coverage Status](https://coveralls.io/repos/{{username}}/{{package.name}}/badge.svg?branch=master&service=github)](https://coveralls.io/github/{{username}}/{{package.name}}?branch=master)

[![Dependency Status](https://david-dm.org/{{username}}/{{package.name}}.svg)](https://david-dm.org/{{username}}/{{package.name}})
[![devDependency Status](https://david-dm.org/{{username}}/{{package.name}}/dev-status.svg)](https://david-dm.org/{{username}}/{{package.name}}#info=devDependencies)

[Home Page]({{& package.homepage}})

{{package.description}}

Purpose
-------

- Testing your own test framework (It's why I created this pluggin first)
- Testing in browser very tiny modules which may not require a formal BDD method but still need to be tested (Cucumber, Jasmine, or others are maybe too much to test a simple addTwoNumbers function...)

Install
-------

```
npm install {{package.name}}
```

How to use
----------

Add 'custom' to the list of available frameworks in you karma.conf.js

```javascript
//in your main-test-file.js

//if you want to, for example, use the node assert module (via browserify)
var assert = require('assert');

window.karmaCustomEnv = {};
window.karmaCustomEnv.execute = function(karma, window) {
	//You have access to the karma framework API
	karma.info({dump: "started"});

	try{
		//do your custom test here
		assert(false);

		karma.result({success: true})
	}catch(err){
		karma.error({
			success: false,
			log: [err.message]
		});
	}

	karma.complete({});
};

```